<section class="hero">
  <h1>Hotel Degli Sfigati</h1>
  <p>La sfiga ti perseguiterà ad ogni stanza</p>
  <a routerLink="/prenotazioni">Prenota ora</a>
</section>

<section class="explore">
  <h2>Esplora</h2>
  <ul>
    <li><a routerLink="/camere">Camere</a></li>
    <li><a routerLink="/servizi">Servizi (inclusa la SPA)</a></li>
    <li><a routerLink="/contatti">Contatti</a></li>
  </ul>
</section>

<section class="description">
  <p>
    Questa è la descrizione dell'hotel dei sfigati, non perderci tempo se sei uno sfigato
    (da inserire qualcosa di serio qua per descrizione)
  </p>
</section>